.welcome {
    color: darkblue;
    font-size: 2vw;
}

.number {
    font-size: 2.2vw;
}

h1 {
    color: darkblue;
    font-style: oblique;
    letter-spacing: 3px;
}

h3 {
    color: white;
    font-size: 1vw;
}

p {
    color: black;
}
p1 {
    color: white;
}



.admin {
    position: relative;
    min-height: 500px;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('admin2.jpg');
    background-size: cover;
}

    .admin .content {
        max-width: 800px;
        text-align: center;
    }

        .admin .content h2 {
            font-size: 64px;
            font-weight: 400;
            letter-spacing: 1px;
            margin-bottom: 30px;
            color: #333
        }

        .admin .content p {
            font-weight: 400;
            color: white;
        }
